<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>All Posts</h1>
    <% for(let post of posts) { %>
      <div class="post"> 
        <h4 class="name"><%= post.name %></h4>
        <h4 class="content"><%= post.content %></h4>
        <a href="http://localhost:8080/post/<%= post.id %>"> see in detailed</a>
        <button> <a href="http://localhost:8080/post/<%= post.id %>/edit"> Edit </a></button>
        <form method="post" action="/post/<%= post.id%>?_method=DELETE">
          <button> delete</button>
        </form>
      </div>
    <% } %>
    <br>
    <br>
    <button> <a href="http://localhost:8080/post/newform"> create testimonal</a></button>
   
</body>
</html>
